#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  color: whitesmoke;
  font-family: fantasy;
  background: rgb(237, 155, 54);
}

#player {
  position: absolute;
  width: 30px;
  height: 30px;
}

main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.mazeRow {
  flex-direction: row;
  display: flex;
}

.wall {
  background: rgb(138, 24, 172);
  height: 30px;
  width: 30px;
}

#start {
  background: rgb(237, 155, 54);
  height: 30px;
  width: 30px;
}

#finish {
  height: 30px;
  width: 30px;
  background: rgb(43, 42, 42);
}

.walkway {
  height: 30px;
  width: 30px;
  background: rgb(237, 155, 54);
}

button {
  font-family: fantasy;
  font-size: 20px;
  color: blueviolet;
}

#winMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-family: fantasy;
  height: 30px;
  width: 100x;
  color: rgb(138, 24, 172);
}
