:root {
  display: flex;
}

#container {
  border: 1px solid black;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  height: 20px;
  width: 20px;
}

.wallCell {
  display: flex;
  border: 2px solid purple;
  background-color: purple;
}

.pathCell {
  display: flex;
  border: 2px solid rgba(247, 223, 87, 0.959);
  background-color: rgba(247, 223, 87, 0.959);
}
.startCell {
  display: flex;
  border: 2px solid white;
  background-color: white;
}
.finishCell {
  display: flex;
  border: 2px solid white;
  background-color: white;
}

.player {
  display: flex;
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: black;
}

#playerbox {
  display: flex;
  position: absolute;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}
