@font-face {
  font-family: HarryP;
  src: url("font/HARRP___.TTF");
}

#header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  font-family: HarryP;
  background: rgba(0, 0, 0, 0);
  font-size: 25px;
  border-radius: 30%;
}
#headerTwo {
  font-size: 35px;
  color: goldenrod;
}

#player {
  position: absolute;
  background-image: url("images/harryongrass.png");
  width: 30px;
  height: 30px;
}
body {
  background-image: url("images/QuidditchField_1.jpg");
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.mazeRow {
  flex-direction: row;
  display: flex;
}

.wall {
  background-image: url("images/forwall.png");
  height: 30px;
  width: 30px;
}

#start {
  background-image: url("images/path.jpg");
  height: 30px;
  width: 30px;
}

#finish {
  height: 30px;
  width: 30px;
  background-image: url("images/snitchongrass.png");
}

.walkway {
  height: 30px;
  width: 30px;
  background-image: url("images/path.jpg");
}

button {
  font-family: fantasy;
  font-size: 20px;
  color: blueviolet;
}

#winMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: HarryP;
  height: 100px;
  width: 600px;
  color: goldenrod;
  background-color: rgb(29, 28, 28);
  border-radius: 50%;
}
